<!DOCTYPE html>
<html lang=eng>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <title>Cabang</title>
    </head>

    <body>
        <h1> Reviews Cabang</h1>
        <h1><%= dataRs.name %> </h1>
        <h1>Owner:<%= dataRs.owner %></h1>
        <table border = "2">
            <thead>
                <tr>
                    <th>Id </th>
                    <th>Cabang</th>
                    <th>No.Telp</th>
                    <th>Alamat</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <% dataCb.forEach(el=>{ %>
                <tr>
                    <td><%= el.id %></td>
                    <td><%= el.cabang%></td>
                    <td><%= el.no_telp%></td>
                    <td><%= el.alamat %></td>
                    <td>
                    <a href='/restaurant/<%= el.RestaurantId %>/cabang/reviews/<%= el.id %>'><button>Lihat Review di Cabang ini</button></a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>