<!DOCTYPE html>
<html lang=eng>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <title>Menambahkan Review</title>
    </head>

    <h1>
        Menambahkan Review : <%= session.name %> (<%= session.username%>)
    </h1>

    <body>
        <form action='/review/info/<%= idRs %>/<%= idCb %>/add/user/<%= session.id %>/adding' method='post'>
            
        <label for = ""> Review </label>
            <br>
            <input type="text" name="review" value=" "> 
            <br>
        <label for = ""> Rating </label>
            <br>
            <input type="text" name="rating" value=" "> 
            <br>
        
            <button type = "Submit"> Submit </button>

        </form>
    </body>


</html>